body{
    

    background-color: #000000;
    width: 100%;
    height: 100%;
}
nav{
    
    height: 30px;
    display: flex;
    justify-content:center ;
    align-items: center;
}
.link{
    text-decoration: none;
    font-size: 35px;
    color: linear-gradient(to left, blue, red);
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 70px;
    
    
    top: 35%;
    left: 20px;
    background: linear-gradient(90deg, #ff0000, #ff00f3, #0033ff ,#ff00c4, #ff0000);
    background-size: 400%;
    -webkit-text-fill-color:transparent;
    -webkit-background-clip: text;
    animation: animate 10s linear infinite;
}

@keyframes animate{
    0%{
        background-position: 0%;
    }
    100%{
        background-position: 400%;
    }

}
.link:hover{
    font-weight:bold;
    color: rgb(0, 0, 0);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 30px;
    background: linear-gradient(to left, blue, red);
}

   

img{
    
    width: 100mm;
    margin: auto;
    border-radius: 20px;
    justify-content: center;
    align-items:center;
    display: 90px;
}
#red{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
}
div{
    border: red;
}
body{
    background-image: url();
   
   background-size:100% ;
   
   

}
.qabara{
   display: block;
}
h1{
    font-size: xx-large;
    font-family: serif;
    height: 30px;
    color: aliceblue;
}
hr.one {
    width: px;
 height: 3px;
 border: 2px solid black;
 border-radius: 30px;
 background: linear-gradient(to left, blue, red);
}
h1.qabara{
    text-align:center;
    width: 300px;
    
}
h2.zangana{
    text-align: center;
    color: rgb(255, 255, 255);
    width: px;
    height: 100px;
}
a.rosm{
    width: 10px;
}
img.kako{
  position: relative;
  background-color: #000000;
  border: none;
  font-size: 28px;
  color: #000000;
  padding: 20px;
  width: 200px;
  text-align: center;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}
img.kako ::after{
    content: "";
  background: #000000;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px!important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}
img.kako::after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
img.kako:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
  }
  img.goglo{
    padding-right: 10px;
  }



    
    

    
    
    





